#nav {
    color: white;
    text-align: center;
}

h4 {
    color: darkgreen;
    font: bold;
}

h6 {
    color: darkblue;
    font: bold;
}

.jumbotron {
    background-color: burlywood;
}

#main-card {
    background-color: silver;
}

.green {
    color: green;
    color: white;
    width: 75px;
}

.yellow {
    background-color: yellow;
    color: white;
    width: 75px; 
}

.orange {
    background-color: darkorange;
    color: white;
    width: 75px;
}

.red {
    background-color: red;
    color: white;
    width: 75px;
}

.purple {
    background-color: purple;
    color: white;
    
}